InheritParentConfig: true
Checks: >
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -performance-no-int-to-ptr,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -hicpp-no-array-decay,
  -hicpp-avoid-c-arrays,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
